body {
	min-width: 1219px;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 37px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.wrapper {
	padding-left: 55px;
	padding-right: 54px;
	max-width: 1110px;
	margin: 0 auto;
}

.header {	
	padding-top: 20px;
	position: fixed;
	top: 0;
 	left: 0;/*попробовать убрать топ и лефт  после прорисовки почти всего сайта*/
 	width: 100%; /* от начала до конца этой строчки хедер делается фиксированным и растягивается на прежнюю заданную ширину*/
	background: #007765;
	color: #ffffff;	
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	font-style: normal;
}	

.menu li{
	list-style: none;
}

.menu {
	position: relative;
	top: -10px;
	width: 420px;
	float: right;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	justify-content: space-around;
}

.logo {
	position: fixed;
	width: 184px;
	height: 45px;
	background-color: #007765;
	margin: 0;
}

.jumbotron {
	position: relative;
	top: 48px;
	min-height: 403px;
	background: url(img/Jumbotron.jpg);
	background-position: center;
}
h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 500;
	font-style: normal;
	font-size: 72px;
	line-height: 84px;
	padding: 160px 396px;
}